@import "bootstrap";


.wrapper {
  width: 100%;
  // margin: 25px auto;
  background-color: #E9E2CB;

  h3 {
    color: white;
  }
  .gtr_images {
    width: 200px;
    border-radius: 35%;
    margin: 5px;
  }

.form-control {
  width: 75%;
}

.list_images {
  width: 40%;
  margin-bottom: 15px;
}

.form-control {
  margin-bottom: 15px;
  // margin-left: 10%
}
.detail_page {
  margin: 5%;

.detail {
  width: 80%;
}
}
.form {
  margin-left: 10%;
}

.content {
  color: white;
}
header {
  background-color: #1F4220;

  .heading  {
    margin: 5px 10px;
    color: white;
  }

    span {
      color: white;
  }

}
.footer {
  background-color: #1F4220;
  color: white;

}
}
