@import "bootstrap";

$margin-left: 10%;

.wrapper {
  width: 100%;
  // margin: 25px auto;
  background-color: #E9E2CB;


  header {
    background-color: #1F4220;
    padding: 20px;

    .heading  {
      margin: 5px 10px;
      color: white;
    }

    span {
      color: white;
    }
  }

  h3 {
    color: white;
    margin-left: 5%;
  }
  .gtr_images {
    width: 200px;
    border-radius: 50%;
    margin: 5px;
  }

.form-control {
  width: 75%;
  margin-bottom: 15px;
}

.list_images {
  width: 40%;
  margin-bottom: 15px;
}

.form-control {
  // margin-left: 10%
}
.detail_page {
  margin: 5%;

.detail {
  width: 80%;
  margin-left:$margin-left;
}
}
.form-group {
  margin-left: $margin-left;
}
button {
  margin-left: $margin-left;
}

.content {
  color: white;
}
.footer {
  background-color: #1F4220;
  color: white;
  padding: 20px;

}
}
