<div class="form" id="addPage">

  <form ng-submit="vm.addGuitar(guitar)">
      <div class="form-group">
        <h3>Add a guitar</h3>

      <input type="text" class="form-control" ng-model="guitar.make" placeholder="Make">
      <input type="text" class="form-control" ng-model="guitar.model" placeholder="Model">
      <input type="text" class="form-control" ng-model="guitar.date" placeholder="Date">
      <input type="text" class="form-control" ng-model="guitar.finish" placeholder="Finish">
      <input type="text" class="form-control" ng-model="guitar.imageUrl" placeholder="Image url">
      <select name="dropdown" class="dropdown" ng-model="guitar.status">
        <option value="">Please Select</option>
        <option value="Wish List">Wish List</option>
        <option value="I Own">I Own</option>
      </select>

    </div>
      <button class="btn btn-primary">Add Guitar</button>
  </form>
</div>
