<p>Add a guitar</p>
<form ng-submit="vm.addGuitar(guitar)">
  <div class="form-group">
  <input type="text" class="form-control" ng-model="guitar.make" placeholder="Make">
  <input type="text" class="form-control" ng-model="guitar.model" placeholder="Model">
  <input type="text" class="form-control" ng-model="guitar.date" placeholder="Date">
  <input type="text" class="form-control" ng-model="guitar.finish" placeholder="Finish">
  <input type="text" class="form-control" ng-model="guitar.imageUrl" placeholder="Image url">
</div>
  <button>Add Guitar</button>


</form>
