<h2>Detail Page</h2>
<div class="detail_page">

  <div class="card is-fullwidth">

      <img class="detail" ng-src="{{ vm.detailGuitar.imageUrl }}">

      <ul class="list-group">
        <li class="list-group-item">Make:  {{ vm.detailGuitar.make }}</li>
        <li class="list-group-item">Model:  {{ vm.detailGuitar.model }}</li>
        <li class="list-group-item">Date:  {{ vm.detailGuitar.date }}</li>
        <li class="list-group-item">Finish:  {{ vm.detailGuitar.finish }}</li>
      
        <a class="card-footer-item" ng-click="vm.deleteGuitar(vm.detailGuitar.id)"><button class="btn" ng-show="vm.showDeleteBtn">Delete</button></a>
      </ul>

  </div>
</div>
