<h3>The Guitar Closet</h3>

  <div class="container" ng-controller="HomeController as vm">

  <a href="/#/detail/{{guitar.id}}" ng-repeat="guitar in vm.allGuitars">
  <img class="gtr_images" ng-src="{{guitar.imageUrl}}">
  </a>

  </div>


  <!-- <a href="/#/home"></a>
  <img src="http://www.vintageandrare.com/uploads/products/34361/883471/original.jpg" class="img-responsive" alt="Responsive image"> -->

  <!-- <p ng-repeat ="guitar in vm.myGuitars">
    {{guitar.brand}}/
    {{guitar.model}}/
    {{guitar.date}}/
    {{guitar.finish}}
  </p> -->
