<h2>My Guitar Room</h2>

<div class="container" ng-controller="ListController as vm">


  <div class="col" >
    <h3>Guitars I Own</h3>
      <a href="/#/detail/{{guitar.id}}" ng-repeat="guitar in vm.own">
        <img class="list_images" ng-src="{{guitar.imageUrl}}">
      </a>

    </div>

    <div class="col" >
      <h3>Wish List</h3>
        <a href="/#/detail/{{guitar.id}}" ng-repeat="guitar in vm.wishList">
          <img class="list_images" ng-src="{{guitar.imageUrl}}">
        </a>

      </div>


</div>
