<h3>My Guitar Room</h3>

<div class="container" ng-controller="ListController as vm">

<a href="/#/detail/{{guitar.id}}" ng-repeat="guitar in vm.allGuitars">
<img class="list_images" ng-src="{{guitar.imageUrl}}">
</a>

<!-- <hr>
<div class="row text-center">
  <div class="col-md-3 col-sm-6 hero-feature" ng-repeat="guitar in vm.guitars">
    <div class="thumbnail">
      <img ng-src="{{ guitar.imageUrl }}" width="300">
      <div class="caption">
        <h3>{{ guitar.make }}</h3>
        <p>{{ guitar.model }}</p>
      </div>
    </div>
  </div>
</div> -->
</div>
